src/wsdl/localhost_8080/EmpleadosSoap-war/EmpleadoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.empleado.war.com.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.empleado.war.com.co/" name="EmpleadoService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.empleado.war.com.co/" schemaLocation="http://localhost:8080/EmpleadosSoap-war/EmpleadoService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="crearEmpleado">
<part name="parameters" element="tns:crearEmpleado"/>
</message>
<message name="crearEmpleadoResponse">
<part name="parameters" element="tns:crearEmpleadoResponse"/>
</message>
<message name="listarEmpleados">
<part name="parameters" element="tns:listarEmpleados"/>
</message>
<message name="listarEmpleadosResponse">
<part name="parameters" element="tns:listarEmpleadosResponse"/>
</message>
<message name="eliminarEmpleado">
<part name="parameters" element="tns:eliminarEmpleado"/>
</message>
<message name="eliminarEmpleadoResponse">
<part name="parameters" element="tns:eliminarEmpleadoResponse"/>
</message>
<message name="editarEmpleado">
<part name="parameters" element="tns:editarEmpleado"/>
</message>
<message name="editarEmpleadoResponse">
<part name="parameters" element="tns:editarEmpleadoResponse"/>
</message>
<portType name="EmpleadoService">
<operation name="hello">
<input wsam:Action="http://service.empleado.war.com.co/EmpleadoService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.empleado.war.com.co/EmpleadoService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="crearEmpleado">
<input wsam:Action="http://service.empleado.war.com.co/EmpleadoService/crearEmpleadoRequest" message="tns:crearEmpleado"/>
<output wsam:Action="http://service.empleado.war.com.co/EmpleadoService/crearEmpleadoResponse" message="tns:crearEmpleadoResponse"/>
</operation>
<operation name="listarEmpleados">
<input wsam:Action="http://service.empleado.war.com.co/EmpleadoService/listarEmpleadosRequest" message="tns:listarEmpleados"/>
<output wsam:Action="http://service.empleado.war.com.co/EmpleadoService/listarEmpleadosResponse" message="tns:listarEmpleadosResponse"/>
</operation>
<operation name="eliminarEmpleado">
<input wsam:Action="http://service.empleado.war.com.co/EmpleadoService/eliminarEmpleadoRequest" message="tns:eliminarEmpleado"/>
<output wsam:Action="http://service.empleado.war.com.co/EmpleadoService/eliminarEmpleadoResponse" message="tns:eliminarEmpleadoResponse"/>
</operation>
<operation name="editarEmpleado">
<input wsam:Action="http://service.empleado.war.com.co/EmpleadoService/editarEmpleadoRequest" message="tns:editarEmpleado"/>
<output wsam:Action="http://service.empleado.war.com.co/EmpleadoService/editarEmpleadoResponse" message="tns:editarEmpleadoResponse"/>
</operation>
</portType>
<binding name="EmpleadoServicePortBinding" type="tns:EmpleadoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmpleadoService">
<port name="EmpleadoServicePort" binding="tns:EmpleadoServicePortBinding">
<soap:address location="http://localhost:8080/EmpleadosSoap-war/EmpleadoService"/>
</port>
</service>
</definitions>