src/wsdl/localhost_8080/EmpleadosSoap-war/EmpleadoService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.empleado.war.com.co/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.empleado.war.com.co/">

<xs:element name="crearEmpleado" type="tns:crearEmpleado"/>

<xs:element name="crearEmpleadoResponse" type="tns:crearEmpleadoResponse"/>

<xs:element name="editarEmpleado" type="tns:editarEmpleado"/>

<xs:element name="editarEmpleadoResponse" type="tns:editarEmpleadoResponse"/>

<xs:element name="eliminarEmpleado" type="tns:eliminarEmpleado"/>

<xs:element name="eliminarEmpleadoResponse" type="tns:eliminarEmpleadoResponse"/>

<xs:element name="empelado" type="tns:empelado"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="listarEmpleados" type="tns:listarEmpleados"/>

<xs:element name="listarEmpleadosResponse" type="tns:listarEmpleadosResponse"/>

<xs:complexType name="crearEmpleado">
<xs:sequence>
<xs:element name="arg0" type="tns:empelado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empelado">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="cargo" type="xs:string" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaVinculacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idEmpleado" type="xs:int" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="salario" type="xs:double" minOccurs="0"/>
<xs:element name="tipoDocumento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearEmpleadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarEmpleado">
<xs:sequence>
<xs:element name="arg0" type="tns:empelado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarEmpleadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarEmpleados">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarEmpleadosResponse">
<xs:sequence>
<xs:element name="return" type="tns:empelado" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarEmpleado">
<xs:sequence>
<xs:element name="arg0" type="tns:empelado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarEmpleadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>